# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
fiocruz-venv/
venv/
.venv/
env/

# Flask
instance/
.env
.flaskenv
*.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

data/municipios_fiocruz.geojson