{% extends "layout.html" %}
{% from "components/breadcrumb.html" import breadcrumb %}

{% block title %}Biblioteca de Documentos{% endblock %}

{% block content %}
{{ breadcrumb("Biblioteca de Documentos") }}

<div class="libraryPage__background w-full px-mobile-padding sm:px-desktop-padding py-6 pt-3">
  <header class="header header--libraryPage mx-auto max-w-width-size flex flex-col gap-4">
    <h1 class="header__title header__title--libraryPage text-xl sm:text-3xl font-semibold text-dark-cyan max-w-200">Biblioteca de Documentos</h1>
    <p class="header__subtitle text-neutral-400 text-[1.125rem] max-w-200">Acesse relatórios, publicações técnicas e documentos institucionais produzidos pela Fiocruz sobre saúde pública no Brasil.</p>
  </header>
</div>
{% endblock %}
