<footer class="footer w-full bg-[#024A4D] text-white pt-8">
  <div class="footer__content px-mobile-padding sm:px-desktop-padding w-full">
    <div class="footer__navigationWrapper max-w-width-size m-auto w-full py-2 flex flex-col gap-2">
      <h2 class="footer__title font-semibold">Links Rápidos</h2>
      <nav class="footer__navigation footer__navigation--main">
        <ul class="footer__list flex flex-col sm:flex-row gap-2 sm:gap-4 text-sm flex-wrap">
          <li class="footer__item"><a href="{{ url_for('data_dashboard') }}" class="footer__link text-neutral-100 hover:underline shrink">Painel de dados</a></li>
          <li class="footer__item"><a href="{{ url_for('indicators_dashboard') }}" class="footer__link text-neutral-100 hover:underline shrink">Painel de indicadores</a></li>
          <li class="footer__item"><a href="{{ url_for('library') }}" class="footer__link text-neutral-100 hover:underline shrink">Biblioteca de documentos</a></li>
          <li class="footer__item"><a href="{{ url_for('publications') }}" class="footer__link text-neutral-100 hover:underline shrink">Produções bibliográficas</a></li>
          <li class="footer__item"><a href="{{ url_for('about') }}" class="footer__link text-neutral-100 hover:underline shrink">Sobre</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__logos max-w-width-size m-auto w-full flex flex-col justify-start lg:flex-row lg:items-center sm:justify-between gap-4 py-8">
      <div class="footer__logo footer__logo--sus">
        <img src="{{ url_for('static', filename='images/footer/logo-sus.png') }}" alt="Sistema Único de Saúde (SUS)" class="footer__logoImg" />
      </div>
      <div class="footer__logo footer__logo--showcase">
        <img src="{{ url_for('static', filename='images/footer/logo-showcase.png') }}" alt="Fiocruz Showcase" class="footer__logoImg" />
      </div>
    </div>
  </div>
  <div class="footer__copyright w-full py-4 border-t border-neutral-100 px-mobile-padding sm:px-desktop-padding flex flex-col gap-2">
    <p class="footer__text text-neutral-100 text-[0.75rem] max-w-width-size m-auto text-center">
      Este portal é regido pela
      <a href="https://fiocruz.br/sites/fiocruz.br/files/documentos/portaria_-_politica_de_acesso_aberto_ao_conhecimento_na_fiocruz.pdf" class="footer__link underline hover:bg-neutral-150">
        Política de Acesso Aberto ao Conhecimento
      </a>,
      que busca garantir à sociedade o acesso gratuito, público e aberto ao conteúdo integral de toda obra intelectual produzida pela Fiocruz.
    </p>
    <p class="footer__text text-neutral-100 text-[0.625rem] max-w-width-size m-auto text-center">
      O conteúdo deste portal pode ser utilizado para todos os fins não comerciais, respeitados e reservados os direitos morais dos autores.
    </p>
  </div>
</footer>
